// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--black: #000;
	--wh: #fff;
	--green: #E0F8F2;
	--light: #FAEDED;
	--purple: #EEECFF;
	--accent: #FF0303;
	--bg-accent: #FF6D2C;
	--bg-accent-hover: #E56228;
	--bg-accent-dis: #FFA780;
	--bg-secondary: #009387;
	--bg-inverse: #F3FAFA;
	--text-accent: #A03219;
	--error: #F44336;
}