.menu {
	// .menu__icon
	&__icon {}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: toRem(50) toRem(15) toRem(15) toRem(30);
			transition: left 0.3s;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(70);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		@media (max-width: $mobile) {}
	}
	// .menu__item
	&__item {}
	// .menu__link
	&__link {
		@media (max-width: $mobile) {}
	}
}

//Burger Icon
.icon-menu {}