// Заголовки, общие БЄМ блоки и проче...

.lazy_image {
  img {
    -webkit-filter: blur(5px);
    transition: filter 1s, -webkit-filter 1s;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    &._lazy-loaded {
      -webkit-filter: blur(0);
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
    }
  }
}
.discount {
  display: inline-block;
  text-align: left;
  padding: 8px;
  border-radius: 4px;
  background: var(--light);
  color: rgba(0, 0, 0, 0.60);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
//====================================================================================================

[data-dropdown] {
  position: relative;
}
[data-dropdown-button] {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  white-space: nowrap;
  column-gap: 12px;
  padding: 10px 0px;
  transition: all 0.2s ease-in-out 0s;
  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
  }
  @media (any-hover: hover) {
    &:hover {
      color: rgba(0, 0, 0, 0.60);
    }
  }
  &.active {
    &::before {
      transform: rotate(180deg);
    }
  }
}
[data-dropdown-button]:focus,
[data-dropdown-button].active {
  outline: none;
}

[data-dropdown-list] {
  position: absolute;
  right: 0px;
  top: 44px;
  width: 210px;
  text-align: center;
  background: var(--wh);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.12);
  list-style-type: none;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
[data-dropdown-item] {
  text-align: right;
  padding: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  input {
    width: 0;
    height: 0;
    padding: 0;
    position: absolute;
  }
  label {
    cursor: pointer;
  }
}

[data-dropdown-item]:hover {
  background: rgba(0, 0, 0, 0.03);
}

[data-dropdown-input] {
  display: none;
}